.caja{
   margin-top: 20px;
   display: flex;
   align-items: center;
   padding-left: 7%;
    &--image{
        position: relative;
        @extend .caja;
        //padding-left: 5%;
        figure{
            position: absolute;
            width: 20px;
            height: 20px;
            left: 42%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__box{
        width: altura(151px);
        height: 100%;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 14%;
        margin-right: 3%;
        &--blue{
            @extend .caja__box;
            background-color: #1864e5;
        }
    }
    @include small{
        width: 100%;
        height: altura(188px);
        border-radius:altura(45px);
        background-color: $blue;
     
        h2{
            font-size:altura(83px);
            line-height:altura(155px);
            color: $white;
            font-weight: bold;
            font-family: "Arial";
        }
    }
    @include tablet{
        width: 100%;
        height: altura(188px);
        border-radius:altura(45px);
        background-color: $blue;
        &--image{
            
            figure{
                width: 45px;
                height: 45px;
                left: 32%;
               
            }
        }
        &__box{
           
            margin-left: 25%;
            margin-right: 28%;
        }
        
        h2{
            font-size:altura(83px);
            line-height:altura(155px);
            color: $white;
            font-weight: bold;
            font-family: "Arial";
        }
    }
    
}